<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android">

	<!-- allowBackup="false" disables backup on API 24-30. fullBackupContent 
		is redundant given allowBackup=false, but Android lint requires it when dataExtractionRules 
		is present (dataExtractionRules only covers API 31+). dataExtractionRules 
		disables cloud backup and device transfer on API 31+. -->
	<application android:allowBackup="false"
		android:fullBackupContent="@xml/backup_rules"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:networkSecurityConfig="@xml/network_security_config"
		android:icon="@mipmap/ic_launcher" android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true" android:theme="@style/Theme.App.Starting">

		<activity android:name=".MainActivity"
			android:exported="true" android:theme="@style/Theme.App">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

	</application>

</manifest>
